
ipk24chat-server.dSYM/Contents/Info.plist
ipk24chat-server.dSYM/Contents/Resources/DWARF/ipk24chat-server
ipk24chat-server.dSYM/Contents/Resources/Relocations/aarch64/ipk24chat-server.yml
ipk24chat-server
